/*首页广告*/
.bili-video-card svg.bili-video-card__info--ad {
  z-index: 1000;
  background: #fff;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
/*侧边广告*/
a.ad-report.video-card-ad-small:not(:empty) {
  display: none;
}
/*视频底部广告*/
#bannerAd {
  display: none;
}